*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
header ul li {
    display: inline;
}

.inicio{
    width: 150px;
    border-radius: 100px;
    opacity: 0.9;
    margin-top: 10px;
    transition: 0.3s ease;
    
}

.inicio:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
}
body{
    background-image: url(Imagenes/Fondo.jpg);
    background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 20px;
}

nav li.boton {
  background-color: #d8c7ff;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
  text-align: center;
  width: 250px; 
}

nav li.boton a {
  display: block; 
  width: 100%;
  padding: 12px 0; 
  color: #000a44;
  text-decoration: none;
  font-family: "Ancizar Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.boton{
    padding: 12px 40px;
    background-color: 	#d8c7ff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    display: block;
}
.boton:hover {
    background-color: #a2bdcc
}


h2{
    color:	#18063b;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 45px;
    text-shadow: 2px 2px 2px #6e30ff;

}

h3{
    color: #2c0092;
    font-family: "Ancizar Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}
.icono{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease;
}
.icono img:hover{
    transform: scale(1.1);
}


